.box-container{
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;

    grid-row-gap: 1.5em;

    margin: 5em 0;
}

@media screen and (min-width:1024px){
    .box-container{
        width: 90%;
        margin: auto;

        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(2,auto);

        grid-column-gap: 1em;
    }
}

@media screen and (min-width:1440px){
    .box-container{
        grid-template-columns: repeat(4,24%);
        width: 75%;
        margin: auto;
    }
}