/* Variables */
$color-Purple: hsl(263, 55%, 52%);
$color-DarkGrayBlue: hsl(217, 19%, 35%);
$color-DarkBlackBlue: hsl(219, 29%, 14%);
$color-White: hsl(0, 0%, 100%);

$color-LightGray: hsl(0, 0%, 81%);
$color-LightGrayBlue: hsl(210, 46%, 95%);

$paragraph: hsla(0,0%,100%,.7);
$verified: hsla(0,0%,100%,.5);

$verifiedI:hsla(217, 19%, 35%,.5);
$paragraphI: hsla(217, 19%, 35%,.7);

$color-BorderImg: hsl(263, 43%, 63%);

$font: 'Barlow Semi Condensed', sans-serif;

/* Imports */
@import "box-container";
@import "box";
@import "user";
@import "dark";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Base */
body{
    font-family: $font;
    font-size: 13px;

    background-color: $color-LightGrayBlue;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width:1024px){
    body{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}